
body{
    overflow-x:hidden;

}
a, a:hover, a:active{
    text-decoration: none;

}
p{
    margin-bottom: 20px;
}

.bebas-neue{
    font-family: Bebas Neue, sans-serif;
}
.nav-main .nav-contact a{
    font-weight: bold;
    display: block;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 10px 5px 25px;
    font-size: 17px;
    position: relative;
    transition: all 0.2s linear;
}

.nav-main .nav-contact a:before{
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    width: 33px;
    height: 33px;
    background-image: url(../assets/images/phone.svg);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    transition:all 0.2s linear
}
.nav-main .nav-contact a:hover, .nav-main .nav-contact a:hover:before{
    background-color:#f1f1f1;
}
.nav-main .nav-link, .nav-main .dropdown-item{
    color: #000 !important;
    text-decoration: none;
    font-size: 18px !important;
    font-weight: 500;
    padding: 3px 15px !important;
}
/* .nav-main .dropdown-item{
    margin-left:15px
} */
 
.nav-main .dropdown-menu .dropdown-item{
    
    font-weight: normal;
    margin-bottom: 0;
    font-size: 18px;
}
@media(max-width:500px){
    .nav-main .dropdown-menu .dropdown-item{
        text-transform: lowercase;
        padding-left: 35px !important;
    }

}
.nav-main .dropdown-item:hover, 
.nav-main .nav-contact a:hover{
    text-decoration: none;
}
.navbar-toggler, .navbar-toggler:focus{
    box-shadow: none;
}
.nav-main .dropdown-item:focus{
    background-color: transparent;
}
@media(max-width:1024px){
    .nav-main .nav-link {
        font-size: 15px !important;
    }
    .card-wrapper{
        justify-content: center;
    }
    .card {
        width: 300px;
    }
    .img-container {
        width: 300px;
        height: 230px;
    }
}
@media(max-width:768px){
    .heading {
        font-size: 15px;
    }
    .wrapper-2 {
        margin: 50px 40px;
    }
    .nav-main .nav-link, .nav-main .dropdown-item{
        margin-bottom:5px
    }
    .nav-main .navbar-collapse{
        position: absolute;
        top:100px;
        left:0;
        background-color:#fff;
        width:100%;
        padding:15px 5px;
        z-index: 999;
        box-shadow: 0 0 5px #ccc;
    }
    .nav-main .nav-contact{
        display: none;
    }
    .nav-main ul.dropdown-menu.show{
        border:none;
    }
    .footer-head img{
        width: 120px;
    }
    .footer-container .footer-cc .footer-head h4 {
        font-size: 19px;
    }
    .footer-container .footer-cc .footer-head h3 {
        font-size: 14px;
    }
    .footer-container .social-container{
        flex-direction: column;
    }
    .footer-container .social-container .social-box h6 {
        font-size: 17px;
 
    }
    .social-box h4 {
        font-size: calc(10px + .3vw);
    }
    .footer-container .social-container .social-box a {
         margin-top: 6px;
        font-size: 14px;
    }
}
@media(max-width:425px){
    .hero-container .hero-content.hero-content-second {
        margin-left: 1rem;
    }
    .gbl-button {
      
        width: 111px;
        font-size: 17px;
    
        height: 43px;
        margin: 0;
    }
    .text-content {
        font-size: 13px;
    }
    .container{
        padding-top: 10px;
    }
    .navbar-brand img{
        max-width: 120px !important;
    }
    .hero-container .hero-content {
        /* background-color: #f0f0f0bf; */
       
        padding: 0px 0 !important;
    }
    .footer-container .footer-cc .footer-head {
      gap: 1rem;
        flex-direction: column-reverse;
    }
}
/* ============= Common ============ */
a.read-more{
    color:#000;
    font-weight: 600;
}
.bg-dark{
    background-image: url('../assets/images/bg-black.jpg');
}

.vid-section{
    margin-top: 30px;
}
.vid-section .video{
  background-image: url('../assets/images/img-clubhouseslava.png');
  background-size: cover;
  background-position: center;
  min-height: 400px;
  position: relative
}
.vid-section .video .vid-overlay{
  background-color:rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
/*============== Home Services ========== */

.home-services{
    color:#fff;
    background-color:#333;
    background-image: url('../assets/images/bg-black.jpg');
    background-size: cover;
    background-position: center;
    padding:80px 15px;
}
.home-services .card{
    margin-bottom: 50px;
    background-color: transparent;
}
.home-services .card .card-image{margin-bottom: 15px;max-width:100px}
.home-services .card h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.home-services .card p {
    font-size: 13px;
    font-weight: 300;
}

.home-services .card h4 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
    
.home-landmarks{
color:#fff;
 background-image: url('../assets/images/bg-black.jpg');
    background-size: cover;
    background-position: center;
    padding:80px 15px;
}
.home-landmarks .section-subheading{
        font-size:20px;
        font-weight: 400;
    }
.home-landmarks .landmark-heading {
    font-size: 30px;
    font-weight: 600;
}
.home-landmarks .landmark-content{
    padding:15px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@media(min-width:960px){
    .home-landmarks .section-heading{
        font-size:45px;
        font-weight: 400;
    }
}
.featured-properties{
color:#fff;
 background-image: url('../assets/images/bg-black.jpg');
    background-size: cover;
    background-position: center;
    padding:80px 15px;
    background-attachment:fixed
}
.featured-properties .feature-property{
    margin-top:30px;
}

.featured-heading{
text-align: center;
font-size:50px;
}
.featured-properties p {
    font-size: 22px;
    font-weight: 600;
}

@media(min-width:960px){
    .featured-properties .inner-container{
        padding:80px;
}
}
/* ============= icon-boxes ============ */
.icon-boxes .card {
    background-image: linear-gradient(#f0f0f0, lightgray);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 30px;
}

.icon-boxes .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 2px solid #e60000;
}

.icon-boxes .card-icon img {
    max-width: 70px;
    margin-bottom: 15px;
}

.icon-boxes .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.icon-boxes .card-description {
    text-align: left;
    font-size: 14px;
    color: #666;
}

.icon-boxes .cards-footer {
    text-align: left;
    margin:30px 60px;
}
.icon-boxes .card-button{
    text-align: right;
    display: flex;
width: 100%;
align-items: end;
justify-content: end;
}
.icon-boxes .card-button a{
display: inline-block;
background: rgb(246,246,246);
background: linear-gradient(180deg, rgba(246,246,246,1) 0%, rgba(214,208,208,1) 100%);
border:1px solid #8f8b8b;
border-radius: 30px;
padding:3px 10px;
text-decoration: none;
color: #333;
}


/* ========================= Hero ==================== */
.hero{
    margin-top: -100px;
    background: url('../assets/images/bg-white.jpg');
    background-position: center;
    background-size: 100% 100%;
}

.hero-container {
    /*padding: 20px 0;*/
    background: url('./assetsN/whiteTriBg/11.jpg');
    background-position: center;
    background-size: 100% 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero-container .hero-content {
    padding: 120px 0 60px;
}

.hero-container .hero-content.hero-content-second h1 {
    font-size: 65px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 600 !important;
    font-family: Bebas Neue, sans-serif;
}
@media(max-width:768px){
    .hero-container .hero-content.hero-content-second h1 {
        font-size:40px
    }
    .hero-container .hero-content {
        padding-bottom: 50px ;
    }
}


.hero-container .hero-heading h1 {
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;

    letter-spacing: 5px;
    font-weight: 500;
}

.hero-container .hero-content p {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}
/* ===================== content container ================= */
.content-container {
    line-height: 1.6;
    color: #333;
    margin: 0 auto;
    padding: 30px;
}

.content-container p {
    margin-bottom: 20px;
    text-align: justify;
}

/*==================== call to action ============== */
.cta {
    background: url('../assets/images/redbg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
    background-color: #A1140A;
    margin-top: 5rem;
    color: white;
}

.cta .cta-inner {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cta.left .cta-inner{
    align-items: flex-start;
    justify-content: flex-start;
}

.cta h2 {
    font-size: 35px;
    font-weight: 600;
    line-height: 1;
}

.cta p {
    font-size: 16px;
    margin-top: 15px;
}
.cta-button{
    display: inline-block;
    border-radius: 15px;
    background: url('../assets/images/img-button-bg-white.png');
    min-width: 236px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    height: 60px;
    display: block;
    margin: 30px auto 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
}

.cta-button:hover{
    color:#000
}

/* ============================= Footer ================== */

footer {
    padding: 100px 15px 50px;
    margin-top: 3rem;
}
footer.with-bg{
    background: url('../assets/images/img-fotter.png');
    background-position: center;
    background-size: 100% 100%;
}
footer .footer-logo{
    max-width: 150px;
}

footer .footer-head h4 {
    font-size: 22px;
    font-weight: 500;
}

footer .footer-head h3 {
    font-size: 40px;
    font-weight: 600;
}
@media(max-width:768px){
    footer .footer-head{
        flex-direction: row-reverse;
    }
    footer .footer-head h3 {
        font-size: 20px;
    }
}
footer .social-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
}
footer .social-container .social-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1rem;
}
footer .social-container .social-box a {
    font-weight: 600;
    color: #000;
    font-size: 22px;
    text-decoration: none;
    line-break: anywhere;
    display: flex;
    align-items: center;
}
footer .social-container .social-box h6 {
    font-size: 22px;
    font-weight: 400;
}
